<div
  class="
    fl-row
    fl-row-full-width
    fl-row-bg-color
    fl-node-5b098cbb5156a
    fl-row-bg-attachment-scroll
  "
  data-node="5b098cbb5156a"
>
  <div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-full-width fl-node-content">
      <div class="fl-col-group fl-node-5b098cbb665b3" data-node="5b098cbb665b3">
        <div class="fl-col fl-node-5b098cbb667df" data-node="5b098cbb667df">
          <div class="fl-col-content fl-node-content">
            <div
              class="fl-module fl-module-vamtam-revslider fl-node-5b098ccbc88a0"
              data-node="5b098ccbc88a0"
            >
              <div class="fl-module-content fl-node-content">
                <!-- START Reserve Your Seats REVOLUTION SLIDER 6.5.4 -->
                <p class="rs-p-wp-fix"></p>
                <rs-module-wrap
                  id="rev_slider_3_4_wrapper"
                  data-source="gallery"
                  style="
                    visibility: hidden;
                    background: #3412b2;
                    padding: 0;
                    margin: 0px auto;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <rs-module id="rev_slider_3_4" style="" data-version="6.5.4">
                    <rs-slides>
                      <rs-slide
                        data-key="rs-5"
                        data-title="Slide"
                        data-duration="9000"
                        data-in="o:0;"
                        data-out="a:false;"
                      >
                        <img
                          src="/landing/assets/images/dummy.png"
                          alt="Slide"
                          title="Home"
                          class="rev-slidebg tp-rs-img rs-lazyload"
                          data-lazyload="//mqixntn.cluster031.hosting.ovh.net/wp-content/plugins/revslider/public/assets/assets/transparent.png"
                          data-bg="c:#3412b2;"
                          data-parallax="off"
                          data-no-retina
                        />
                        <!--
-->
                        <rs-layer
                          id="slider-3-slide-5-layer-1"
                          class="rs-pxl-1"
                          data-type="image"
                          data-rsp_ch="on"
                          data-xy="x:c;xo:-1px;y:m;"
                          data-text="l:22;a:inherit;"
                          data-dim="w:['100%','100%','100%','100%'];"
                          data-frame_1="sp:20;sR:10;"
                          data-frame_999="o:0;st:w;sR:8970;"
                          style="z-index: 10"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          <img
                            loading="lazy"
                            src="/landing/assets/images/dummy.png"
                            class="tp-rs-img rs-lazyload"
                            width="1595"
                            height="831"
                            data-lazyload="//mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/MAP.png"
                            data-c="fullwidth"
                            data-no-retina
                          />
                        </rs-layer>
                        <!--

-->
                        <rs-layer
                          id="slider-3-slide-5-layer-2"
                          data-type="text"
                          data-color="rgba(18, 21, 89, 0.3)"
                          data-rsp_ch="on"
                          data-xy="y:m;"
                          data-text="s:300;l:359;fw:900;a:inherit;"
                          data-basealign="slide"
                          data-frame_0="o:1;"
                          data-frame_1="e:none;sp:10;sR:10;"
                          data-frame_999="o:0;st:w;sR:8980;"
                          data-loop_0="x:100;"
                          data-loop_999="x:-5500;sp:160000;yym:t;yys:t;yyf:t;"
                          style="z-index: 9; font-family: Roboto"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          DISCOVER EDUCATION CITY
                        </rs-layer>
                        <!--

-->
                        <rs-layer
                          id="slider-3-slide-5-layer-3"
                          data-type="image"
                          data-rsp_ch="on"
                          data-xy="x:c;y:m;"
                          data-text="s:20,20,12,6;l:22,22,14,7;a:inherit;"
                          data-dim="w:['2200px','2200px','2200px','2200px'];h:['2202px','2202px','2202px','2202px'];"
                          data-basealign="slide"
                          data-frame_1="o:0.53;sp:20;sR:10;"
                          data-frame_999="o:0;st:w;sR:8970;"
                          data-loop_999="x:10;sp:40000;yym:t;yys:t;yyf:t;"
                          style="z-index: 8"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          <img
                            loading="lazy"
                            src="/landing/assets/images/dummy.png"
                            class="tp-rs-img rs-lazyload"
                            width="1444"
                            height="1445"
                            data-lazyload="//mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2018/05/pattern-1-blue-01.svg"
                            data-no-retina
                          />
                        </rs-layer>
                        <!--

-->
                        <rs-layer
                          id="slider-3-slide-5-layer-4"
                          class="rev-btn"
                          data-type="button"
                          data-actions="o:click;a:simplelink;target:_blank;url:https://www.hbku.edu.qa/en/getting-around;"
                          data-color="#3813c2"
                          data-xy="x:c;y:m;"
                          data-text="s:16;l:16;fw:700;a:inherit;"
                          data-rsp_bd="off"
                          data-padding="t:24;r:42;b:24;l:42;"
                          data-frame_1="sp:20;sR:10;"
                          data-frame_999="o:0;st:w;sR:8970;"
                          data-frame_hover="c:#fff;bgc:#88CE;boc:#000;bor:0px,0px,0px,0px;bos:solid;oX:50;oY:50;"
                          style="
                            z-index: 11;
                            background-color: #ffffff;
                            font-family: Roboto;
                            cursor: pointer;
                            outline: none;
                            box-shadow: 0 10px 40px 0 #291183;
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                          "
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          DISCOVER EDUCATION CITY
                        </rs-layer>
                        <!--
-->
                      </rs-slide>
                    </rs-slides>
                  </rs-module>
                  <script type="text/javascript">
                    setREVStartSize({
                      c: "rev_slider_3_4",
                      rl: [1240, 1240, 778, 480],
                      el: [420, 420, 400, 300],
                      gw: [1400, 1400, 900, 480],
                      gh: [420, 420, 400, 300],
                      type: "standard",
                      justify: "",
                      layout: "fullwidth",
                      mh: "0",
                    })
                  </script>
                </rs-module-wrap>
                <!-- END REVOLUTION SLIDER -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
