<div class="footer-wrapper" style="">
  <footer id="main-footer" class="main-footer">
    <link
      rel="stylesheet"
      id="fl-builder-layout-13308-css"
      href="http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/bb-plugin/cache/13308-layout-partial.css?ver=b84cfee948007bbaf7937613e3cdb360"
      type="text/css"
      media="all"
    />
    <div
      class="
        fl-builder-content
        fl-builder-content-13308
        fl-builder-template
        fl-builder-layout-template
        fl-builder-global-templates-locked
      "
      data-post-id="13308"
    >
      <div
        class="
          fl-row
          fl-row-full-width
          fl-row-bg-color
          fl-node-597d02a1d60ee
          fl-row-bg-attachment-scroll
        "
        data-node="597d02a1d60ee"
      >
        <div class="fl-row-content-wrap">
          <div class="fl-row-content fl-row-fixed-width fl-node-content">
            <div
              class="
                fl-col-group
                fl-node-59e3f305184fe
                fl-col-group-equal-height
                fl-col-group-align-center
                fl-col-group-custom-width
              "
              data-node="59e3f305184fe"
            >
              <div
                class="fl-col fl-node-59e3f30518607 fl-col-has-cols"
                data-node="59e3f30518607"
              >
                <div class="fl-col-content fl-node-content">
                  <div
                    class="
                      fl-module fl-module-vamtam-heading fl-node-5b02188b71f87
                    "
                    data-node="5b02188b71f87"
                  >
                    <div class="fl-module-content fl-node-content">
                      <h5 class="vamtam-heading">
                        <span class="vamtam-heading-text">Organized by</span>
                      </h5>
                    </div>
                  </div>

                  <div
                    class="
                      fl-col-group
                      fl-node-5b0218c76e5f9
                      fl-col-group-nested
                      fl-col-group-custom-width
                    "
                    data-node="5b0218c76e5f9"
                  >
                    <div
                      class="fl-col fl-node-5b0218c76e827"
                      data-node="5b0218c76e827"
                    >
                      <div class="fl-col-content fl-node-content">
                        <div
                          class="
                            fl-module fl-module-photo fl-node-5b02b65c38a17
                          "
                          data-node="5b02b65c38a17"
                        >
                          <div class="fl-module-content fl-node-content">
                            <div
                              class="fl-photo fl-photo-align-center"
                              itemscope
                              itemtype="http://schema.org/ImageObject"
                            >
                              <div class="fl-photo-content fl-photo-img-png">
                                <img
                                  loading="lazy"
                                  class="
                                    fl-photo-img
                                    wp-image-987754
                                    size-medium
                                    vamtam-lazyload-noparent
                                  "
                                  src="http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-300x157.png"
                                  alt="HBKU-Solid White (1)"
                                  itemprop="image"
                                  height="157"
                                  width="300"
                                  title="HBKU-Solid White (1)"
                                  sizes="(max-width: 768px) 100vw, (min-width: 1260px) 1260px,100vw"
                                  srcset="
                                    data:image/svg+xml;utf8,&lt;svg%20xmlns=&quot;http://www.w3.org/2000/svg&quot;%20viewBox=&quot;0%200%20828%20433&quot;%20height=&quot;433px&quot;%20width=&quot;828px&quot;/&gt;
                                  "
                                  data-srcset="http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-300x157.png 300w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-768x402.png 768w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-630x329.png 630w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-420x220.png 420w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1-315x165.png 315w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2017/07/HBKU-Solid-White-1.png 828w"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          fl-row
          fl-row-full-width
          fl-row-bg-color
          fl-node-5b0ff9c1835fc
          fl-row-bg-attachment-scroll
        "
        data-node="5b0ff9c1835fc"
      >
        <div class="fl-row-content-wrap">
          <div class="fl-row-content fl-row-fixed-width fl-node-content">
            <div
              class="
                fl-col-group
                fl-node-5b0ff9c183c39
                fl-col-group-equal-height
                fl-col-group-align-center
                fl-col-group-custom-width
              "
              data-node="5b0ff9c183c39"
            >
              <div
                class="fl-col fl-node-5b0ff9c183c75 fl-col-has-cols"
                data-node="5b0ff9c183c75"
              >
                <div class="fl-col-content fl-node-content">
                  <div
                    class="
                      fl-col-group
                      fl-node-5b0ff9c183f78
                      fl-col-group-nested
                      fl-col-group-equal-height
                      fl-col-group-align-center
                      fl-col-group-custom-width
                    "
                    data-node="5b0ff9c183f78"
                  >
                    <div
                      class="fl-col fl-node-5b0ff9c183fea fl-col-small"
                      data-node="5b0ff9c183fea"
                    >
                      <div class="fl-col-content fl-node-content"></div>
                    </div>
                    <div
                      class="fl-col fl-node-5b0ff9c18405c fl-col-small"
                      data-node="5b0ff9c18405c"
                    >
                      <div class="fl-col-content fl-node-content">
                        <div
                          class="
                            fl-module fl-module-photo fl-node-5b0ff9c184095
                          "
                          data-node="5b0ff9c184095"
                        >
                          <div class="fl-module-content fl-node-content">
                            <div
                              class="fl-photo fl-photo-align-center"
                              itemscope
                              itemtype="http://schema.org/ImageObject"
                            >
                              <div class="fl-photo-content fl-photo-img-png">
                                <a
                                  href="/about/"
                                  target="_self"
                                  itemprop="url"
                                  title="white"
                                >
                                  <img
                                    loading="lazy"
                                    class="
                                      fl-photo-img
                                      wp-image-987668
                                      size-thumbnail
                                      vamtam-lazyload-noparent
                                    "
                                    src="http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-150x150.png"
                                    alt="white"
                                    itemprop="image"
                                    height="150"
                                    width="150"
                                    data-link-type="url"
                                    title="white"
                                    sizes="(max-width: 768px) 100vw, (min-width: 1260px) 428px,34vw"
                                    srcset="
                                      data:image/svg+xml;utf8,&lt;svg%20xmlns=&quot;http://www.w3.org/2000/svg&quot;%20viewBox=&quot;0%200%20502%20501&quot;%20height=&quot;501px&quot;%20width=&quot;502px&quot;/&gt;
                                    "
                                    data-srcset="http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-150x150.png 150w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-300x300.png 300w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-420x419.png 420w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-315x315.png 315w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white-100x100.png 100w, http://mqixntn.cluster031.hosting.ovh.net/wp-content/uploads/2021/08/white.png 502w"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="fl-col fl-node-5b0ff9c1840ce fl-col-small"
                      data-node="5b0ff9c1840ce"
                    >
                      <div class="fl-col-content fl-node-content"></div>
                    </div>
                  </div>

                  <div
                    class="
                      fl-col-group fl-node-5b0ff9c18417b fl-col-group-nested
                    "
                    data-node="5b0ff9c18417b"
                  >
                    <div
                      class="fl-col fl-node-5b0ff9c1841b3"
                      data-node="5b0ff9c1841b3"
                    >
                      <div class="fl-col-content fl-node-content">
                        <div
                          class="
                            fl-module
                            fl-module-vamtam-separator
                            fl-node-5b0ff9c1841ec
                          "
                          data-node="5b0ff9c1841ec"
                          data-progressive-animation="scale-in"
                          data-vamtam-animation-options='{"type":"progressive","origin":"center center","exit":false,"delay":0,"mobile":true,"pin":false,"pinTrigger":""}'
                        >
                          <div class="fl-module-content fl-node-content">
                            <div
                              class="fl-separator"
                              style="
                                border-top-color: rgba(255, 255, 255, 0.2);
                                opacity: 1;
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-rich-text fl-node-5b0ff9c18425e"
                    data-node="5b0ff9c18425e"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="fl-rich-text">
                        <h6 style="text-align: center">
                          V I R T U A L S T U D E N T O R I E N T A T I O N 1 5
                          A U G U S T 2 0 2 1
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div
                    class="
                      fl-module fl-module-vamtam-button fl-node-5b0ff9c184297
                    "
                    data-node="5b0ff9c184297"
                    data-progressive-animation="scale-out"
                    data-vamtam-animation-options='{"type":"progressive","origin":"center center","exit":false,"delay":-0.6,"mobile":true,"pin":false,"pinTrigger":""}'
                  >
                    <div class="fl-module-content fl-node-content">
                      <div
                        class="vamtam-button-wrap vamtam-button-width-auto"
                        style="text-align: center"
                      >
                        <a
                          href="/programs"
                          target="_self"
                          class="
                            vamtam-button
                            accent1
                            hover-accent2
                            button-solid
                            icon-animation-disable
                          "
                          role="button"
                          style="
                            font-size: 14px;
                            line-height: 16px;
                            padding: 18px 36px;
                          "
                        >
                          <span class="vamtam-button-text"
                            >START YOUR ORIENTATION</span
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="fl-module fl-module-rich-text fl-node-5b0ff9c1842d0"
                    data-node="5b0ff9c1842d0"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="fl-rich-text">
                        <p style="text-align: center; font-size: 12px">
                          Copyright ©2021 All rights reserved to Hamad Bin
                          Khalifa University
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
