<div
  class="
    fl-row
    fl-row-full-width
    fl-row-bg-none
    fl-node-5b01f6bcc36c4
    fl-row-bg-attachment-scroll
  "
  style="
    background-image: url(/landing/assets/images/bg-hayakom.png);
    background-size: cover;
    background-position: bottom;
  "
  data-node="5b01f6bcc36c4"
>
  <div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div
        class="
          fl-col-group
          fl-node-5b01f6bcc5679
          fl-col-group-equal-height
          fl-col-group-align-top
          fl-col-group-custom-width
          fl-col-group-responsive-reversed
        "
        style="position: relative"
        data-node="5b01f6bcc5679"
      >
        <div
          class="fl-col fl-node-5b01f6bcc572b fl-col-small"
          data-node="5b01f6bcc572b"
        >
          <div class="fl-col-content fl-node-content"></div>
        </div>
        <div
          class="fl-col fl-node-5b01f6bcc5771 fl-col-has-cols"
          data-node="5b01f6bcc5771"
        >
          <div class="fl-col-content fl-node-content">
            <div
              class="
                fl-col-group
                fl-node-5b01ffbd3c60f
                fl-col-group-nested
                fl-col-group-custom-width
              "
              data-node="5b01ffbd3c60f"
            >
              <div
                class="fl-col fl-node-5b01ffbd3c7aa"
                data-node="5b01ffbd3c7aa"
              >
                <div class="fl-col-content fl-node-content">
                  <div
                    class="
                      fl-module fl-module-vamtam-heading fl-node-5b01fd6b2ce78
                    "
                    data-node="5b01fd6b2ce78"
                  >
                    <div>
                      <img
                        style="
                          position: absolute;
                          left: -80px;
                          width: 323px;
                          top: 51%;
                        "
                        src="static/media/vector_smart_object.png"
                      />
                    </div>
                    <div class="fl-module-content fl-node-content">
                      <h2 class="vamtam-heading vamtam-font-style-2">
                        <span class="vamtam-heading-text"
                          >Hayakom <br />
                          at HBKU!</span
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="
                fl-col-group
                fl-node-5b02001c52472
                fl-col-group-nested
                fl-col-group-custom-width
              "
              data-node="5b02001c52472"
            >
              <div
                class="fl-col fl-node-5b02001c52595"
                data-node="5b02001c52595"
              >
                <div class="fl-col-content fl-node-content">
                  <div
                    class="fl-module fl-module-rich-text fl-node-5b020029d24de"
                    data-node="5b020029d24de"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="fl-rich-text">
                        <p>
                          This year we have designed a unique online orientation
                          experience to help guide you through the upcoming
                          months. The Virtual Student Orientation will help you
                          become familiar with the university and its resources,
                          where each student can complete the orientation at their
                          own pace. Our first semester students, and the
                          community as a whole, are now continuing a decade-old
                          legacy of commitment and innovation in education and
                          research, dedicated to solving critical challenges
                          facing Qatar and the world.
                        </p>
                        <br />
                        <a
                          href="/programs"
                          target="_self"
                          class="
                            vamtam-button
                            accent1
                            hover-accent2
                            button-solid
                            icon-animation-disable
                          "
                          role="button"
                          style="
                            font-size: 14px;
                            line-height: 16px;
                            padding: 14px 28px;
                            background-color: #0088ce;
                            color: white;
                          "
                        >
                          <svg
                            style="position: absolute; left: 3%"
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-right"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                            />
                          </svg>
                          <span class="vamtam-button-text"
                            >Start Your Orientation</span
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="
                      fl-module fl-module-vamtam-button fl-node-5b0200a827a24
                    "
                    data-node="5b0200a827a24"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div
                        class="vamtam-button-wrap vamtam-button-width-auto"
                        style="text-align: left"
                      >
                        <a
                          href="/agenda/"
                          target="_self"
                          class="
                            vamtam-button
                            accent1
                            hover-accent6
                            button-underline
                            icon-animation-disable
                          "
                          role="button"
                          style="
                            font-size: 14px;
                            line-height: 16px;
                            padding: 2px 0px;
                          "
                        >
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="
                  fl-col fl-node-5b02004a51209 fl-col-small fl-visible-desktop
                "
                data-node="5b02004a51209"
              >
                <div class="fl-col-content fl-node-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
