<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#3813c2" />

  <title>Virtual Student Orientation</title>

  <style type="text/css" media="screen"></style>
  <style id="vamtam-theme-options"></style>
  <style></style>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//s.w.org" />

  <link
    rel="stylesheet"
    id="style2"
    href="/landing/assets/css/style2.css"
    type="text/css"
    media="all"
  />

  <link
    rel="stylesheet"
    id="sb_instagram_styles-css"
    href="/landing/assets/css/sbi-styles.min.css?ver=2.9.2"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="wp-block-library-css"
    href="/landing/assets/css/style.min.css?ver=5.8"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="wc-block-vendors-style-css"
    href="/landing/assets/css/vendors-style.css?ver=5.3.3"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="wc-block-style-css"
    href="/landing/assets/css/style.css?ver=5.3.3"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="fl-builder-layout-11419-css"
    href="/landing/assets/css/11419-layout.css?ver=e948d2a96434b810ab8ce46194387bfb"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-icons-css"
    href="/landing/assets/css/icons.css?ver=2.3.5"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-tooltipster-css"
    href="/landing/assets/css/tooltipster.css?ver=3.3.0"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-tooltipster-theme-css"
    href="/landing/assets/css/tooltipster-light.css?ver=3.3.0"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-animations-css"
    href="/landing/assets/css/animations.css?ver=2.3.5"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-css-css"
    href="/landing/assets/css/booked.css?ver=2.3.5"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="woocommerce-layout-css"
    href="/landing/assets/css/woocommerce-layout.css?ver=5.5.2"
    type="text/css"
    media="all"
  />
  <style id="woocommerce-layout-inline-css" type="text/css">
    .infinite-scroll .woocommerce-pagination {
      display: none;
    }
  </style>
  <link
    rel="stylesheet"
    id="woocommerce-smallscreen-css"
    href="/landing/assets/css/woocommerce-smallscreen.css?ver=5.5.2"
    type="text/css"
    media="only screen and (max-width: 768px)"
  />
  <link
    rel="stylesheet"
    id="woocommerce-general-css"
    href="/landing/assets/css/woocommerce.css?ver=5.5.2"
    type="text/css"
    media="all"
  />
  <style id="woocommerce-inline-inline-css" type="text/css">
    .woocommerce form .form-row .required {
      visibility: visible;
    }
  </style>
  <link
    rel="stylesheet"
    id="dashicons-css"
    href="/landing/assets/css/dashicons.min.css?ver=5.8"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="booked-wc-fe-styles-css"
    href="/landing/assets/css/frontend-style.css?ver=5.8"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="vamtam-gfonts-css"
    href="https://fonts.googleapis.com/css?family=Roboto%3Abold%2C500%2Cnormal%2Citalic%2C700i%7CRubik%3A300%2Cbold%2C500&#038;subset=latin&#038;display=swap&#038;ver=1628062783"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="vamtam-front-all-css"
    href="/landing/assets/css/all.css?ver=1628062783"
    type="text/css"
    media="all"
  />
  <link
    rel="stylesheet"
    id="style3"
    href="/landing/assets/css/style3.css"
    type="text/css"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-mobile-header-css"
    href="/landing/assets/css/mobile-header.css?ver=1628062783"
    type="text/css"
    media="(max-width: 900px)"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-layout-max-low-css"
    href="/landing/assets/css/layout-max-low.css?ver=1628062783"
    type="text/css"
    media="(min-width: 993px) and (max-width: 1260px)"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-layout-max-css"
    href="/landing/assets/css/layout-max.css?ver=1628062783"
    type="text/css"
    media="(min-width: 993px)"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-layout-below-max-css"
    href="/landing/assets/css/layout-below-max.css?ver=1628062783"
    type="text/css"
    media="(max-width: 992px)"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-layout-small-css"
    href="/landing/assets/css/layout-small.css?ver=1628062783"
    type="text/css"
    media="(max-width: 768px)"
  />
  <link
    rel="stylesheet"
    id="vamtam-theme-wc-small-screen-css"
    href="/landing/assets/css/wc-small-screen.css?ver=1628062783"
    type="text/css"
    media="only screen and (max-width: 768px)"
  />
  <script
    type="text/javascript"
    src="/landing/assets/js/jquery.min.js?ver=3.6.0"
    id="jquery-core-js"
  ></script>
  <script
    type="text/javascript"
    src="/landing/assets/js/jquery-migrate.min.js?ver=3.3.2"
    id="jquery-migrate-js"
  ></script>
  <script
    type="text/javascript"
    src="/landing/assets/js/frontend-functions.js?ver=5.8"
    id="booked-wc-fe-functions-js"
  ></script>
  <meta name="generator" content="WordPress 5.8" />
  <meta name="generator" content="WooCommerce 5.5.2" />
  <link rel="canonical" href="https://online-orientation.hbku.edu.qa/" />
  <link rel="shortlink" href="https://online-orientation.hbku.edu.qa/" />
  <meta name="tec-api-version" content="v1" />
  <noscript>
    <style>
      .woocommerce-product-gallery {
        opacity: 1 !important;
      }
    </style>
  </noscript>
  <meta
    name="generator"
    content="Powered by Slider Revolution 6.5.4 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."
  />

  <!-- Jetpack Open Graph Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Virtual Student Orientation" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://online-orientation.hbku.edu.qa/" />
  <meta property="og:site_name" content="Virtual Student Orientation" />
  <meta
    property="og:image"
    content="/landing/assets/images/Press-Release-Dr.-Ahmad-M.-Hasnah-President-of-HBKU-speaking-at-Orientation-2017-150x150.jpg"
  />
  <meta property="og:locale" content="fr_FR" />
  <meta name="twitter:text:title" content="Home" />
  <meta
    name="twitter:image"
    content="/landing/assets/images/Press-Release-Dr.-Ahmad-M.-Hasnah-President-of-HBKU-speaking-at-Orientation-2017-150x150.jpg?w=1400"
  />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- End Jetpack Open Graph Tags -->
  <script type="text/javascript">
    function setREVStartSize(e) {
      //window.requestAnimationFrame(function() {
      window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW
      window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH
      try {
        var pw = document.getElementById(e.c).parentNode.offsetWidth,
          newh
        pw = pw === 0 || isNaN(pw) ? window.RSIW : pw
        e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw)
        e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw)
        e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh)
        e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh)
        e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide)
        e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide)
        e.mh =
          e.mh === undefined || e.mh == "" || e.mh === "auto"
            ? 0
            : parseInt(e.mh, 0)
        if (e.layout === "fullscreen" || e.l === "fullscreen")
          newh = Math.max(e.mh, window.RSIH)
        else {
          e.gw = Array.isArray(e.gw) ? e.gw : [e.gw]
          for (var i in e.rl)
            if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1]
          e.gh =
            e.el === undefined ||
            e.el === "" ||
            (Array.isArray(e.el) && e.el.length == 0)
              ? e.gh
              : e.el
          e.gh = Array.isArray(e.gh) ? e.gh : [e.gh]
          for (var i in e.rl)
            if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1]

          var nl = new Array(e.rl.length),
            ix = 0,
            sl
          e.tabw = e.tabhide >= pw ? 0 : e.tabw
          e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw
          e.tabh = e.tabhide >= pw ? 0 : e.tabh
          e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh
          for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i]
          sl = nl[0]
          for (var i in nl)
            if (sl > nl[i] && nl[i] > 0) {
              sl = nl[i]
              ix = i
            }
          var m =
            pw > e.gw[ix] + e.tabw + e.thumbw
              ? 1
              : (pw - (e.tabw + e.thumbw)) / e.gw[ix]
          newh = e.gh[ix] * m + (e.tabh + e.thumbh)
        }
        var el = document.getElementById(e.c)
        if (el !== null && el) el.style.height = newh + "px"
        el = document.getElementById(e.c + "_wrapper")
        if (el !== null && el) el.style.height = newh + "px"
      } catch (e) {
        console.log("Failure at Presize of Slider:" + e)
      }
      //});
    }
  </script>
  <style type="text/css" id="wp-custom-css">
    .vamtam-buble .fl-module-content {
      box-shadow: 0px 5px 20px 0px #efefef;
      border-radius: 30em;
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>

  <link rel="stylesheet" href="/landing/assets/css/mega.css" type="text/css" />

  <style>
    .gallery-custom {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(5, 1fr);
    }

    .gallery-custom .gallery-item {
      width: 100% !important;
    }

    .gallery-custom .gallery-item .allery-icon {
      width: 100% !important;
    }

    .gallery-custom .gallery-item .allery-icon img {
      width: 100% !important;
    }

    [class*="gallery-columns-"] figure.gallery-item {
      padding: 0px;
    }
    @media screen and (max-width: 600px) {
      .gallery-custom {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (max-width: 400px) {
      .gallery-custom {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  </style>
</head>
