<style>
  .header-overlay-container {
    position: relative;
  }
  .header-overlay {
    padding-bottom: 100px;
    padding-top: 100px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 16px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    text-align: center;
  }
  .header-overlay span {
    line-height: 1em;
  }
  .header-overlay svg {
    width: 48px;
    height: 48px;
  }

  #scrollDown {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
  }

  @media screen and (max-width: 900px) {
    .header-overlay {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 600px) {
    .header-overlay {
      font-size: 10px;
    }
  }
</style>

<header class="header-middle type-slider">
  <div id="header-slider-container" class="revslider">
    <div class="header-overlay-container">
      <div class="header-overlay">
        <span style="font-size: roboto; font-size: 3em; font-weight: 500"
          >Virtual Student</span
        >
        <span style="font-size: roboto; font-weight: 700; font-size: 5em"
          >Orientation 21/22</span
        >
        <span style="font-size: roboto; font-size: 2em">15 August, 2021</span>
        <div id="scrollDown">
          <a href="/#hayakom">
            <small style="color: white">Scroll down</small><br />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-arrow-down-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                fill="#fff"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="header-slider-wrapper">
        <p class="rs-p-wp-fix"></p>
        <rs-module-wrap
          id="rev_slider_5_1_wrapper"
          data-source="gallery"
          style="
            visibility: hidden;
            background: #140365;
            padding: 0;
            margin: 0px auto;
            margin-top: 0;
            margin-bottom: 0;
          "
        >
          <rs-module
            id="rev_slider_5_1"
            class="rs-ov-hidden"
            data-version="6.5.4"
          >
            <rs-slides>
              <rs-slide
                data-key="rs-16"
                data-title="Final - video"
                data-in="o:0;y:-100%;"
                data-out="sx:0.85;sy:0.85;"
              >
                <img
                  src="/landing/assets/images/dummy.png"
                  alt="Final - video"
                  title="Home"
                  class="rev-slidebg tp-rs-img rs-lazyload"
                  data-lazyload="/landing/assets/images/transparent.png"
                  data-bg="c:#170464;"
                  data-no-retina
                />

                <rs-group
                  id="slider-5-slide-16-layer-8"
                  data-type="group"
                  data-xy="x:c;y:m,m,m,b;yo:-20px,-20px,-30px,120px;"
                  data-text="l:22;a:inherit;"
                  data-dim="w:1000px,1000px,800px,470px;h:470px,470px,450px,360px;"
                  data-frame_0="sX:2;sY:2;"
                  data-frame_0_mask="u:t;"
                  data-frame_1="st:440;sp:2000;sR:440;"
                  data-frame_1_mask="u:t;"
                  data-frame_999="y:100%;sX:0.7;sY:0.7;rZ:0deg;st:w;sp:1000;sR:1060;sA:3500;"
                  data-frame_999_mask="u:t;"
                  style="z-index: 15"
                >
                  <rs-bg-elem
                    style="position: absolute; top: 0px; left: 0px"
                  ></rs-bg-elem>
                </rs-group>

                <rs-layer
                  id="slider-5-slide-16-layer-9"
                  class="tp-shape tp-shapewrapper"
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:c;y:m;"
                  data-text="a:inherit;"
                  data-dim="w:100%;h:100%;"
                  data-basealign="slide"
                  data-frame_0="o:1;"
                  data-frame_1="sp:0;sR:10;"
                  data-frame_999="st:w;sp:1000;sR:3490;"
                  style="z-index: 9; background-color: rgba(21, 1, 96, 0.8)"
                >
                  <rs-bg-elem
                    style="position: absolute; top: 0px; left: 0px"
                  ></rs-bg-elem>
                </rs-layer>

                <rs-layer
                  id="slider-5-slide-16-layer-18"
                  class="rs-fsv rs-layer-video intrinsic-ignore"
                  data-type="video"
                  data-rsp_ch="on"
                  data-xy="x:0;y:0;"
                  data-text="l:22;a:inherit;"
                  data-dim="w:100%;h:100%;"
                  data-basealign="slide"
                  data-video="vfc:true;vd:100;sta:2:40;rwd:f;fc:true;l:true;ptimer:false;nse:f;sav:f;inl:f;"
                  data-poster="/landing/assets/images/20-21-Orientation-Video-Highres-V2-1_16_layer.jpeg"
                  data-mp4="static/media/slider-video.mp4"
                  data-frame_1="sp:3500;"
                  data-frame_999="o:0;st:w;"
                  style="z-index: 8"
                >
                  <rs-bg-elem
                    style="position: absolute; top: 0px; left: 0px"
                  ></rs-bg-elem>
                </rs-layer>
              </rs-slide>
            </rs-slides>
            <rs-static-layers>
              <rs-layer
                id="slider-5-slide-4-layer-10"
                class="
                  shape-play-sound
                  tp-shape tp-shapewrapper
                  rs-layer-static
                "
                data-type="shape"
                data-rsp_ch="on"
                data-xy="x:c;"
                data-text="a:inherit;"
                data-dim="w:100%;h:100%;"
                data-actions="o:click;a:togglevideo;layer:slider-5-slide-4-layer-9;||o:click;a:togglelayer;ls:visible;layer:slider-5-slide-4-layer-23;||o:click;a:toggleclass;layer:slider-5-slide-4-layer-10;class:no-shape-play-sound;||o:click;a:toggleclass;layer:slider-5-slide-4-layer-10;class:hide-play-sound;"
                data-basealign="slide"
                data-onslides="s:1;e:6;"
                data-frame_0="tp:600;"
                data-frame_1="tp:600;sR:10;"
                data-frame_999="o:0;tp:600;st:w;sp:330;sR:3190;"
                data-frame_hover="c:#fff;bgc:rgba(0,0,0,0);boc:transparent;bos:none;oX:50;oY:50;sp:0;"
                style="
                  z-index: 80;
                  background-color: rgba(0, 0, 0, 0);
                  cursor: pointer;
                "
              >
                <rs-bg-elem
                  style="position: absolute; top: 0px; left: 0px"
                ></rs-bg-elem>
              </rs-layer>

              <rs-layer
                id="slider-5-slide-4-layer-22"
                class="rs-svg rs-layer-static"
                data-type="svg"
                data-color="rgba(255, 255, 255, 0.5)"
                data-rsp_ch="on"
                data-xy="xo:30px;y:b;yo:30px;"
                data-text="s:36;fw:700;a:inherit;"
                data-dim="w:24px;h:24px;"
                data-actions="o:click;a:togglevideo;layer:slider-5-slide-4-layer-9;||o:click;a:togglelayer;ls:visible;layer:slider-5-slide-4-layer-23;"
                data-svg_src="/landing/assets/assets/svg/av/ic_equalizer_24px.svg"
                data-svgi="c:rgba(255, 255, 255, 0.5);"
                data-basealign="slide"
                data-onslides="s:1;"
                data-frame_0="tp:600;"
                data-frame_1="tp:600;sR:10;"
                data-frame_999="o:0;tp:600;st:w;sR:3190;"
                data-frame_hover="c:#fff;oX:50;oY:50;"
                style="z-index: 82; cursor: pointer"
              >
                <rs-bg-elem
                  style="position: absolute; top: 0px; left: 0px"
                ></rs-bg-elem>

                <div class="rs-untoggled-content"></div>
                <div class="rs-toggled-content"></div>
              </rs-layer>

              <rs-layer
                id="slider-5-slide-4-layer-23"
                class="rs-layer-static"
                data-type="text"
                data-color="rgba(255, 255, 255, 0.5)"
                data-rsp_ch="on"
                data-xy="xo:60px;y:b;yo:28px;"
                data-text="s:12;l:20;a:inherit;"
                data-actions="o:click;a:togglevideo;layer:slider-5-slide-4-layer-9;||o:click;a:togglelayer;ls:visible;layer:slider-5-slide-4-layer-23;"
                data-basealign="slide"
                data-onslides="s:1;"
                data-triggercache="keep"
                data-frame_0="tp:600;"
                data-frame_1="tp:600;sR:10;st:a;"
                data-frame_999="o:0;tp:600;st:a;sR:3190;"
                data-frame_hover="c:#fff;bor:0px,0px,0px,0px;bow:0px,0px,0px,0px;oX:50;oY:50;"
                style="z-index: 83; font-family: Roboto; cursor: pointer"
              >
                <rs-bg-elem
                  style="position: absolute; top: 0px; left: 0px"
                ></rs-bg-elem>
                Play sound
              </rs-layer>
            </rs-static-layers>
          </rs-module>
          <script type="text/javascript">
            setREVStartSize({
              c: "rev_slider_5_1",
              rl: [1240, 1024, 778, 480],
              el: [600, 600, 500, 500],
              gw: [1370, 1280, 900, 480],
              gh: [600, 600, 500, 500],
              type: "standard",
              justify: "",
              layout: "fullwidth",
              mh: "600",
            })
          </script>
        </rs-module-wrap>
      </div>
    </div>
  </div>
</header>
