<div
  class="
    fl-row
    fl-row-full-width
    fl-row-bg-parallax
    fl-node-5b048eac21191
    fl-row-bg-attachment-scroll
  "
  data-node="5b048eac21191"
  data-parallax-speed="8"
  data-parallax-image="http:/landing/assets/images/background-gray-dots.svg"
  data-background-position="center center"
  data-background-size="auto"
>
  <div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-5bc46bfb8a2bd" data-node="5bc46bfb8a2bd">
        <div class="fl-col fl-node-5bc46bedf2544" data-node="5bc46bedf2544">
          <div class="fl-col-content fl-node-content">
            <div
              class="fl-module fl-module-vamtam-heading fl-node-5bc462d1a4e81"
              data-node="5bc462d1a4e81"
            >
              <div class="fl-module-content fl-node-content">
                <h2 class="vamtam-heading vamtam-font-style-2">
                  <span class="vamtam-heading-text">Orientation Program</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="fl-col-group fl-node-5b048eac2546e fl-col-group-custom-width"
        data-node="5b048eac2546e"
      >
        <div class="fl-col fl-node-5b048eac255b3" data-node="5b048eac255b3">
          <div class="fl-col-content fl-node-content">
            <div
              class="
                fl-module fl-module-vamtam-revslider fl-node-5b048eac20f7f
                vamtam-add-shadow
              "
              data-node="5b048eac20f7f"
            >
              <div class="fl-module-content fl-node-content">
                <!-- START Topics Slider REVOLUTION SLIDER 6.5.4 -->
                <p class="rs-p-wp-fix"></p>
                <rs-module-wrap
                  id="rev_slider_4_2_wrapper"
                  data-source="gallery"
                  style="
                    visibility: hidden;
                    background: #ffffff;
                    padding: 0;
                    margin: 0px auto;
                    margin-top: 0;
                    margin-bottom: 0;
                    max-width: ;
                  "
                >
                  <rs-module id="rev_slider_4_2" style="" data-version="6.5.4">
                    <rs-slides>
                      <rs-slide
                        data-key="rs-6"
                        data-title="01. Fingerprint"
                        data-in="x:-100%;"
                      >
                        <img
                          src="/landing/assets/images/dummy.png"
                          alt="01. Fingerprint"
                          title="Home"
                          class="rev-slidebg tp-rs-img rs-lazyload"
                          data-lazyload="/landing/assets/images/transparent.png"
                          data-bg="c:#ffffff;"
                          data-no-retina
                        />
                        <rs-layer
                          id="slider-4-slide-6-layer-1"
                          data-type="image"
                          data-rsp_ch="on"
                          data-xy="x:r,r,r,c;yo:0,0,-80px,0;"
                          data-text="l:22;a:inherit;"
                          data-dim="w:440px,440px,410px,233px;h:709px,709px,652px,370px;"
                          data-basealign="slide"
                          data-frame_0="x:-175%;o:1;"
                          data-frame_0_mask="u:t;x:100%;"
                          data-frame_1="e:power3.out;sp:1500;sR:10;"
                          data-frame_1_mask="u:t;"
                          data-frame_999="o:0;st:w;sR:7490;"
                          style="z-index: 9"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          <img
                            loading="lazy"
                            src="/landing/assets/images/dummy.png"
                            class="tp-rs-img rs-lazyload"
                            width="736"
                            height="1186"
                            data-lazyload="static/media/image002.jpg"
                            data-no-retina
                          />
                        </rs-layer>
                        <rs-layer
                          id="slider-4-slide-6-layer-2"
                          data-type="image"
                          data-rsp_ch="on"
                          data-xy="x:r,r,r,c;xo:400px,400px,371px,118px;y:m,m,t,t;yo:8px,8px,180px,50px;"
                          data-text="l:22;a:inherit;"
                          data-dim="w:120px,120px,80px,70px;h:1284px,1284px,104px,104px;"
                          data-frame_0="y:50px;"
                          data-frame_1="st:570;sp:1000;sR:570;"
                          data-frame_999="o:0;st:w;sR:7430;"
                          style="z-index: 8"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          <img
                            loading="lazy"
                            src="/landing/assets/images/dummy.png"
                            class="tp-rs-img rs-lazyload"
                            width="63"
                            height="674"
                            data-lazyload="/landing/assets/images/LAYER.jpg"
                            data-no-retina
                          />
                        </rs-layer>
                        <rs-layer
                          id="slider-4-slide-6-layer-6"
                          data-type="text"
                          data-color="#000000"
                          data-rsp_ch="on"
                          data-xy="xo:120px,120px,70px,20px;yo:140px,140px,70px,400px;"
                          data-text="w:normal;s:45,45,42,42;l:72,72,50,50;fw:900;a:inherit;"
                          data-dim="w:620px,620px,370px,430px;h:280px,280px,270px,180px;"
                          data-basealign="slide"
                          data-frame_0="o:1;"
                          data-frame_0_lines="d:10;y:-100%;o:1;rX:0deg;"
                          data-frame_0_mask="u:t;"
                          data-frame_1="sp:1500;sR:10;"
                          data-frame_1_lines="d:10;"
                          data-frame_1_mask="u:t;"
                          data-frame_999="o:0;st:w;sR:7490;"
                          style="z-index: 10; font-family: Roboto"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          We have developed 8 chapters to facilitate your
                          seamless transition to HBKU.
                        </rs-layer>
                        <rs-layer
                          id="slider-4-slide-6-layer-7"
                          data-type="text"
                          data-color="#4f4f50"
                          data-rsp_ch="on"
                          data-xy="xo:120px,120px,70px,20px;yo:380px,380px,300px,570px;"
                          data-text="w:normal;s:16;l:26;a:inherit;"
                          data-dim="w:500px,500px,390px,430px;h:120px,120px,160px,130px;"
                          data-basealign="slide"
                          data-frame_1="st:770;sp:1200;sR:770;"
                          data-frame_999="o:0;st:w;sR:7030;"
                          style="z-index: 11; font-family: Roboto"
                        >
                          <rs-bg-elem
                            style="position: absolute; top: 0px; left: 0px"
                          ></rs-bg-elem>
                          Start with chapter one to unlock the following
                          chapters. Once you have completed all chapters, you
                          will be able to register for the advising session that
                          corresponds with your program. Make sure to register
                          with your HBKU email.
                          <br /><br />
                          <a
                            href="/programs"
                            target="_self"
                            class="
                              vamtam-button
                              accent1
                              hover-accent2
                              button-solid
                              icon-animation-disable
                            "
                            role="button"
                            style="
                              font-size: 14px;
                              line-height: 16px;
                              padding: 14px 28px;
                              background-color: #1e1556;
                              color: white;
                            "
                          >
                            <svg
                              style="top: 18px; position: absolute; left: 3%"
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-arrow-right"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                              />
                            </svg>
                            <span class="vamtam-button-text"
                              >Start Your Orientation</span
                            >
                          </a>
                        </rs-layer>
                      </rs-slide>
                    </rs-slides>
                    <rs-static-layers>
                      <rs-layer
                        id="slider-4-slide-3-layer-14"
                        class="rs-layer-static"
                        data-type="text"
                        data-color="#898989"
                        data-rsp_ch="on"
                        data-xy="xo:-45px,-45px,-65px,-47px;yo:260px,260px,260px,170px;"
                        data-text="s:16;l:20;ls:3px;fw:300;a:inherit;"
                        data-basealign="slide"
                        data-onslides="s:1;"
                        data-frame_0="x:-50px;rZ:-90;"
                        data-frame_1="rZ:-90;st:40;sp:1200;sR:40;"
                        data-frame_999="o:0;st:w;sR:7760;"
                        style="z-index: 8; font-family: Roboto"
                      >
                        <rs-bg-elem
                          style="position: absolute; top: 0px; left: 0px"
                        ></rs-bg-elem>
                        15 TH OF AUGUST 2021
                      </rs-layer>
                      <rs-layer
                        id="slider-4-slide-3-layer-18"
                        class="rs-layer-static"
                        data-type="image"
                        data-rsp_ch="on"
                        data-xy="x:r;xo:54px,54px,0,0;y:b,b,b,t;yo:-8px,-8px,0,159px;"
                        data-text="l:22;a:inherit;"
                        data-dim="w:200,200,200,200px;h:193px,193px,210px,210px;"
                        data-basealign="slide"
                        data-onslides="s:1;"
                        data-frame_0="y:50px;"
                        data-frame_1="e:power4.out;st:710;sp:1500;sR:710;"
                        data-frame_999="st:w;sR:6790;auto:true;"
                        style="z-index: 11"
                      >
                        <rs-bg-elem
                          style="position: absolute; top: 0px; left: 0px"
                        ></rs-bg-elem>
                        <img
                          loading="lazy"
                          src="/landing/assets/images/dummy.png"
                          class="tp-rs-img rs-lazyload"
                          width="355"
                          height="343"
                          data-lazyload="/landing/assets/images/MAIN2.png"
                          data-no-retina
                        />
                      </rs-layer>
                      <rs-layer
                        id="slider-4-slide-3-layer-20"
                        class="tp-shape tp-shapewrapper rs-layer-static"
                        data-type="shape"
                        data-rsp_ch="on"
                        data-xy="y:t,t,b,b;yo:0,0,-1px,-1px;"
                        data-text="fw:400,400,300,300;a:left,left,inherit,inherit;"
                        data-dim="w:100%;h:180,180,150px,150px;"
                        data-vbility="f,f,t,f"
                        data-onslides="s:1;"
                        data-frame_0="o:1;"
                        data-frame_999="o:0;st:w;sR:8700;"
                        style="z-index: 12; background-color: #ffffff"
                      >
                        <rs-bg-elem
                          style="position: absolute; top: 0px; left: 0px"
                        ></rs-bg-elem>
                      </rs-layer>
                    </rs-static-layers>
                  </rs-module>
                  <script type="text/javascript">
                    setREVStartSize({
                      c: "rev_slider_4_2",
                      rl: [1240, 1240, 778, 480],
                      el: [700, 700, 650, 850],
                      gw: [1280, 1280, 900, 480],
                      gh: [700, 700, 650, 850],
                      type: "standard",
                      justify: "",
                      layout: "fullwidth",
                      mh: "0",
                    })
                  </script>
                </rs-module-wrap>
                <!-- END REVOLUTION SLIDER -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
