<div
  class="
    fl-row
    fl-row-full-width
    fl-row-bg-none
    fl-node-5b074ea27ce08
    fl-row-bg-attachment-scroll
  "
  data-node="5b074ea27ce08"
>
  <div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-5bc482d806589" data-node="5bc482d806589">
        <div class="fl-col fl-node-5bc482d806773" data-node="5bc482d806773">
          <div class="fl-col-content fl-node-content">
            <div
              class="fl-module fl-module-vamtam-heading fl-node-5bc3563c83662"
              data-node="5bc3563c83662"
            >
              <div class="fl-module-content fl-node-content">
                <h2 class="vamtam-heading vamtam-font-style-2">
                  <span class="vamtam-heading-text">Speakers</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fl-col-group fl-node-5b074ea285d60" data-node="5b074ea285d60">
        <div class="fl-col fl-node-5b074ea285e9c" data-node="5b074ea285e9c">
          <div class="fl-col-content fl-node-content">
            <div
              class="
                fl-module fl-module-vamtam-revslider fl-node-5b074eb206aac
                vamtam-add-shadow
              "
              data-node="5b074eb206aac"
            >
              <div class="fl-module-content fl-node-content">
                <p class="rs-p-wp-fix"></p>
                <%- include('speaker-carousel'); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('team-member'); %>
