<div
  id="all-speakers"
  class="
    fl-row
    fl-row-full-width
    fl-row-bg-none
    fl-node-5b073fd282a00
    fl-row-bg-attachment-scroll
  "
  data-node="5b073fd282a00"
>
  <div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div
        class="fl-col-group fl-node-5b073fd2879ee fl-col-group-custom-width"
        data-node="5b073fd2879ee"
      >
        <div
          class="fl-col fl-node-5b073fd287b0f fl-col-has-cols"
          data-node="5b073fd287b0f"
        >
          <div class="fl-col-content fl-node-content">
            <div
              style="
                display: grid;
                gap: 1em;
                grid-template-columns: repeat(6, 1fr);
              "
            >
              <!-- 1 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b074319444f2
                    "
                    data-node="5b074319444f2"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/cis/staff/emad-el-din-shahin" target="_blank" title="Dr. Emad El-Din Shahin">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="676"
                                height="885"
                                src="static/media/1.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="
                                  static/media/1.jpg 676w,
                                  static/media/1.jpg 229w,
                                  static/media/1.jpg 630w,
                                  static/media/1.jpg 420w,
                                  static/media/1.jpg 315w
                                "
                                sizes="(max-width: 676px) 100vw, 676px"
                                data-attachment-id="987730"
                                data-permalink=""
                                data-orig-file="static/media/1.jpg"
                                data-orig-size="676,885"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="Pro"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/1.jpg"
                                data-large-file="static/media/1.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/cis/staff/emad-el-din-shahin" target="_blank" title="Dr. Emad El-Din Shahin">
                              Dr. Emad El-Din Shahin
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Dean of College of Islamic Studies
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b074319444f2
                    "
                    data-node="5b074319444f2"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/chss/staff/amal-mohammed-al-malki" target="_blank" title="Dr. Amal Mohammed Al-Malki">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="676"
                                height="885"
                                src="static/media/2.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="
                                  static/media/2.jpg         676w,
                                  static/media/2.jpg 229w,
                                  static/media/2.jpg 630w,
                                  static/media/2.jpg 420w,
                                  static/media/2.jpg 315w
                                "
                                sizes="(max-width: 676px) 100vw, 676px"
                                data-attachment-id="987730"
                                data-permalink="http://mqixntn.cluster031.hosting.ovh.net/pro/"
                                data-orig-file="static/media/2.jpg"
                                data-orig-size="676,885"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="Pro"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/2.jpg"
                                data-large-file="static/media/2.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/chss/staff/amal-mohammed-al-malki" target="_blank" title="Dr. Amal Mohammed Al-Malki">
                              Dr. Amal Mohammed Al-Malki
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Founding Dean of College of Humanities & Social Sciences
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b0740e177f56
                      vamtam-add-shadow
                    "
                    data-node="5b0740e177f56"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/cse/staff/dr-mounir-hamdi" target="_blank" title="Dr. Mounir Hamdi">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="720"
                                height="900"
                                src="static/media/3.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="static/media/3.jpg"
                                sizes="(max-width: 720px) 100vw, 720px"
                                data-attachment-id="987758"
                                data-permalink=""
                                data-orig-file="static/media/3.jpg"
                                data-orig-size="720,900"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="Dr. Mounir Hamdi"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/3.jpg"
                                data-large-file="static/media/3.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/cse/staff/dr-mounir-hamdi" target="_blank" title="Dr. Mounir Hamdi">
                              Dr. Mounir Hamdi
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Founding Dean
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b07436401e81
                    "
                    data-node="5b07436401e81"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/cl/staff/susan-l-karamanian" target="_blank" title="Dr. Susan L. Karamanian">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="520"
                                height="660"
                                src="static/media/4.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="
                                  static/media/4.jpg         520w,
                                  static/media/4.jpg 236w,
                                  static/media/4.jpg 420w,
                                  static/media/4.jpg 315w
                                "
                                sizes="(max-width: 520px) 100vw, 520px"
                                data-attachment-id="987756"
                                data-permalink="https://www.hbku.edu.qa/en/cl/staff/susan-l-karamanian"
                                data-orig-file="static/media/4.jpg"
                                data-orig-size="520,660"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="maryam_portrait"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/4.jpg"
                                data-large-file="static/media/4.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/cl/staff/susan-l-karamanian" target="_blank" title="Dr. Susan L. Karamanian">
                              Dr. Susan L. Karamanian
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Dean of College of Law
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 5 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b0743b572ecd
                      vamtam-add-shadow
                    "
                    data-node="5b0743b572ecd"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/staff/dr-edward-stuenkel" target="_blank" title="Dr. Edward Stuenkel">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="720"
                                height="900"
                                src="static/media/5.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="
                                  static/media/5.jpg         720w,
                                  static/media/5.jpg 240w,
                                  static/media/5.jpg 630w,
                                  static/media/5.jpg 420w,
                                  static/media/5.jpg 315w
                                "
                                sizes="(max-width: 720px) 100vw, 720px"
                                data-attachment-id="987758"
                                data-permalink="http://mqixntn.cluster031.hosting.ovh.net/index.php/home/woman-icon-picture-profile-female-icon-human-people-sign-symbol-woman-icon-picture-profile-female-icon-human-123361956/"
                                data-orig-file="static/media/5.jpg"
                                data-orig-size="720,900"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="woman-icon-picture-profile-female-icon-human-people-sign-symbol-woman-icon-picture-profile-female-icon-human-123361956"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/5.jpg"
                                data-large-file="static/media/5.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/staff/dr-edward-stuenkel" target="_blank" title="Dr. Edward Stuenkel">
                              Dr. Edward Stuenkel
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Founding Dean of College of Health and Life Sciences
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 6 -->
              <div class="fl-col fl-col-small vamtam-add-shadow">
                <div
                  class="fl-col-content fl-node-content vamtam-show-bg-image"
                >
                  <div
                    class="
                      fl-module
                      fl-module-vamtam-team-member
                      fl-node-5b0743b572ecd
                      vamtam-add-shadow
                    "
                    data-node="5b0743b572ecd"
                  >
                    <div class="fl-module-content fl-node-content">
                      <div class="team-member">
                        <div class="thumbnail">
                          <a href="https://www.hbku.edu.qa/en/cpp/staff/leslie-pal" target="_blank" title="Dr. Leslie A. Pal">
                            <div class="vamtam-responsive-wrapper image-loaded">
                              <img
                                width="720"
                                height="900"
                                src="static/media/6.jpg"
                                class="attachment-full size-full"
                                alt=""
                                loading="lazy"
                                srcset="static/media/6.jpg"
                                sizes="(max-width: 720px) 100vw, 720px"
                                data-attachment-id="987758"
                                data-permalink="http://mqixntn.cluster031.hosting.ovh.net/index.php/home/woman-icon-picture-profile-female-icon-human-people-sign-symbol-woman-icon-picture-profile-female-icon-human-123361956/"
                                data-orig-file="static/media/6.jpg"
                                data-orig-size="720,900"
                                data-comments-opened="1"
                                data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                                data-image-title="woman-icon-picture-profile-female-icon-human-people-sign-symbol-woman-icon-picture-profile-female-icon-human-123361956"
                                data-image-description=""
                                data-image-caption=""
                                data-medium-file="static/media/6.jpg"
                                data-large-file="static/media/6.jpg"
                              />
                            </div>
                          </a>
                        </div>
                        <div class="team-member-info">
                          <h4>
                            <a href="https://www.hbku.edu.qa/en/cpp/staff/leslie-pal" target="_blank" title="Dr. Leslie A. Pal">
                              Dr. Leslie A. Pal
                            </a>
                          </h4>

                          <h5
                            class="regular-title-wrapper team-member-position"
                          >
                            Dean of College of Public Policy
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
