<div class="
    fl-row
    fl-row-full-width
    fl-row-bg-none
    fl-node-5b01f6bcc36c4
    fl-row-bg-attachment-scroll
  " data-node="5b01f6bcc36c4">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">
            <div class="row">
                <div class="col-md-24">
                    <div class="fl-col fl-node-5b02001c52595" data-node="5b02001c52595"></div>
                        <div class="fl-module-content fl-node-content fl-node-5b01fd6b2ce78 fl-module-vamtam-heading">
                            <h2 class="vamtam-heading vamtam-font-style-2">
                                <span class="vamtam-heading-text">What’s Next?</span>
                            </h2>
                        </div>
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-5b020029d24de"
                                data-node="5b020029d24de">
                                <div class="fl-module-content fl-node-content">
                                
                                    <div class="fl-rich-text">
                                        <p>Once you have viewed the chapters, here are a few more things to do:</p>
                                    
                                    <div class="order-list m-b-3">
                                            <ol>
                                                <li><a style="color: #0088ce;" href="https://hbku.wufoo.com/forms/advising-session-registration-202324" target="_blank">Register for your program’s advising session.</a></li>
                                                <li>Apply for <a style="color: #0088ce;" href="/landing/assets/images/student-ID-campus-my-badge.pdf" target="_blank">My Badge</a> (Student ID).</li>
                                                <li>Attend Qatar Foundation’s Marhaba Event for New Students on 13th August.</li>
                                                <li>Save the Student Handbook on your device for your reference.</li>
                                                <li>Take a survey and tell us your thoughts.</li>
                                            </ol>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-24">
                    <img src="/landing/assets/images/wn.jpg">
                </div>
            </div>
        </div>
    </div>
</div>